<!DOCTYPE html>
<html>
	<head>
		<title>Calculator 0.1</title>
		<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css"></link>		
	</head>
	<body>
		<div class="calc-body">
			<form>
				<input class="calc-display" value="88888888" maxlength="12">
			</form>
			<div class="calc-keyboard">
				<table>
					<tr>
						<td>
							<div class="calc-key calc-key-num">1</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">2</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">3</div>
						</td>
						<td>
							<div class="calc-key calc-key-operation">/</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="calc-key calc-key-num">4</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">5</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">6</div>
						</td>
						<td>
							<div class="calc-key calc-key-operation">*</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="calc-key calc-key-num">7</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">8</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">9</div>
						</td>
						<td>
							<div class="calc-key calc-key-operation">-</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="calc-key calc-key-operation">C</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">0</div>
						</td>
						<td>
							<div class="calc-key calc-key-num">.</div>
						</td>
						<td>
							<div class="calc-key calc-key-operation">+</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="calc-key calc-key-operation">=</div>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="{{ "/js/CalcApp.js" | prepend: site.baseurl }}"></script>
	</body>
</html>
